{% load static %}
<div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tourist</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Bosh sahifa</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link {% if request.path == '/about/' %}active{% endif %}">Haqida</a>
                    <a href="{% url 'services' %}" class="nav-item nav-link {% if request.path == '/services/' %}active{% endif %}">Xizmatlar</a>
                    <a href="{% url 'packages' %}" class="nav-item nav-link {% if request.path == '/packages/' %}active{% endif %}">Paketlar</a>

                    <a href="{% url 'contact' %}" class="nav-item nav-link {% if request.path == '/contact/' %}active{% endif %}">Bog'lanish</a>
                </div>
                <div class="dropdown">
                    {% if user.is_authenticated %}
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;{{user.username}}
                      </button>
                    {% else %}
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;    Akkount
                      </button>
                    {% endif %}

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'users:profile' user.id %}">Profil</a>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">Chiqish</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'users:login' %}">Kirish</a>
                            <a class="dropdown-item" href="{% url 'users:register' %}">Ro'yxatdan o'tish</a>
                        {% endif %}
                      </div>
                    </div>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Ta'tilingizni biz bilan maroqli o'tkazing</h1>
                        <p class="fs-4 text-white mb-4 animated slideInDown">Bizning Tourist kompaniyamiz orqali arzon va sifatli dam oling.
                            <a href="{% url 'packages' %}">Qaysi davlatga bormoqchisiz?</a> </p>

                    </div>
                </div>
            </div>
        </div>
    </div>